# For loop pattern problem

In [1]:
n = 5

In [4]:
for i in range(n+1):
    for j in range(i+1):
        print(j)
    print()

0

0
1

0
1
2

0
1
2
3

0
1
2
3
4

0
1
2
3
4
5

In [5]:
for rows in range(n+1):    
    for columns in range(rows+1):
        print(columns, end =" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [6]:
for rows in range(1,n+1):    
    for columns in range(1,rows+1):
        print(columns, end =" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [48]:
for rows in range(n+1,1,-1):
    for columns in range(1, rows):
        print( columns, end =" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [80]:
for rows in range(1,n+1,1):
    for columns in  range(1, 2 * rows, 2):
        print( columns , end =" ")
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

In [7]:
for rows in range(1, n + 1):
    leading_spaces = ' ' * (n - rows)
    print(leading_spaces, end=" ")
        
    for columns in range(1, 2 * rows, 2):           
        print(str(columns), end=" ")
    print()

     1
    1 3
   1 3 5
  1 3 5 7
 1 3 5 7 9

In [127]:
n =7
for rows in range( n , 0 , -2):
    leading_spaces = ' ' *(n - rows)
    print(leading_spaces, end="")
        
    for columns in range(1, rows+1,  1):
           
        print(str(columns), end=" ")
    print()

1 2 3 4 5 6 7
  1 2 3 4 5
    1 2 3
      1

In [25]:
for rows in range(n+1):
    for j in range(rows+1):
         pattern = j*' *'
    print(pattern)

 *
 * *
 * * *
 * * * *
 * * * * *

In [20]:
for rows in range(n+1):
    print(rows * "* ")

*
* *
* * *
* * * *
* * * * *

In [21]:
for rows in range(n+1):
    print((n+1 - rows)*" " +rows * "* ")

     *
    * *
   * * *
  * * * *
 * * * * *

In [23]:
for rows in range(n+1):
    for j in range(rows+1):
        pattern = j*'* '
        space = (n-j)*" "
    print(space + pattern)

    *
   * *
  * * *
 * * * *
* * * * *

In [32]:
for rows in range(n,0,-1):
    print((n+1 - rows)*" " +rows * "* ")

 * * * * *
  * * * *
   * * *
    * *
     *